<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Golang</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <div class="container">
        <h1>HackerNews</h1>
        <ol class="list">
           {{ range .Articles }}
           <li>
                <p>
                    <a href="http://localhost:8080/details?id={{.ID}}">{{.Name}}</a>
                    <span class="origin">({{ .Link }})</span>
                </p>
            </li>
           {{ end }}
        </ol>
        <footer>
            <p>&copy; 2020 Created by Felipe Henrique</p>
        </footer>
    </div>
</body>
</html>